body {
    text-align: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#winner-display {
    display: none;
    background-color: red;
    color: white;
}

#container {
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-width: 400px;
}
  
.grid-item {
    display: inline-flex;
    padding: 1em;
    border: 1px solid rgb(6, 6, 6);
    
}

#reset-button {
    display: none;
    margin: 0 auto;
}

.counter {
    margin: 0 auto;
    height: 40px;
    width: 40px ;
    border-radius: 50%;    
    display: inline-flex;
}

#highscore-display {
    display: none;
}

#highscore-table-label {
    display: none;
}

#highscores {
    padding: 1em;
    margin: 0 auto;
}

